.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: calc(90% - 40px);
  height: 829px;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 20px;
  overflow-y: auto;
  background-color: #f6f6f6;
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #ff6060;
  }
}
