.slideShow-container {
  position: relative;
  width: 100%;
  margin: auto;
  .pictures {
    width: 100%;
    display: block;
  }
}

.navigation {
  position: absolute;
  width: 100%;
  top: 50%;

  .previousBtn {
    position: absolute;
    left: 10px;
  }

  .nextBtn {
    position: absolute;
    right: 10px;
  }
}

.picture-count {
  position: absolute;
  bottom: 10px;
  right: 50%;
  color: white;
  display: flex;
  justify-content: center;
}
